In [30]:
DIR= '/Users/yoavfreund/projects/cell_detection_data'
!ls -lh $DIR/sections

total 0
drwxr--r--@ 16 yoavfreund  staff   512B Aug 16 10:26 164
drwxr-xr-x  18 yoavfreund  staff   576B Aug 16 13:29 172
drwxr--r--@ 16 yoavfreund  staff   512B Aug 16 10:27 248

In [26]:
import pandas as pd
det=pd.read_csv(DIR+'/detections_dk55.csv')
positives=det[det['label']==1]
positives.head()

  animal  section    row    col  label  mean_score  std_score  predictions
0   DK55      164  15213  24954      1    1.422074   1.097634            0
1   DK55      164  17250  22558      1    3.597950   0.620428            2
2   DK55      164  17246  21326      1    2.554182   0.824888            2
3   DK55      164  17277  21583      1    0.881989   0.883821            0
4   DK55      164  17282  21437      1    0.841280   1.330851            0

In [39]:
!ls $DIR/sections/*/*.csv

/Users/yoavfreund/projects/cell_detection_data/sections/164/164.csv
/Users/yoavfreund/projects/cell_detection_data/sections/164/puntas.csv
/Users/yoavfreund/projects/cell_detection_data/sections/172/172.csv
/Users/yoavfreund/projects/cell_detection_data/sections/172/puntas.csv
/Users/yoavfreund/projects/cell_detection_data/sections/248/248.csv
/Users/yoavfreund/projects/cell_detection_data/sections/248/puntas.csv

In [41]:
secs=[]
for section in [164,172,248]:
    sec=pd.read_csv(DIR+'/sections/%d/%d.csv'%(section,section))
    secs.append(sec)
all_secs=pd.concat(secs)
all_secs

    Unnamed: 0             x             y  Section
0          0.0  23958.919922  23430.537109      164
1          1.0  36357.390625  19160.722656      164
2          2.0  36916.816406  18117.238281      164
3          3.0  36956.585938  18211.685547      164
4          4.0  37113.640625  18272.320312      164
..         ...           ...           ...      ...
19        19.0  42483.167969  20779.439453      248
20        20.0  42492.175781  21657.750000      248
21        21.0  43356.972656  21202.830078      248
22        22.0  47240.113281  20207.914062      248
23        23.0  47898.500000  20710.583984      248

[209 rows x 4 columns]

In [52]:
section=164

In [51]:
pos_sec=positives[positives['section']==section]
pos_xy=np.array(pos_sec[['col','row']])
pos_xy

array([[24954, 15213],
       [22558, 17250],
       [21326, 17246],
       [21583, 17277],
       [21437, 17282],
       [21143, 17348],
       [21391, 17395],
       [21854, 17421],
       [21297, 17487],
       [22007, 17482],
       [21581, 17557],
       [21199, 17637],
       [21535, 17646],
       [22173, 17647],
       [21736, 17662],
       [21918, 17655],
       [21802, 17706],
       [22239, 17723],
       [22140, 17764],
       [21352, 17754],
       [21742, 17830],
       [21307, 17856],
       [20811, 17896],
       [24918, 17928],
       [21722, 17927],
       [21278, 17952],
       [21823, 17971],
       [21879, 18053],
       [21083, 18051],
       [20508, 18118],
       [21684, 18135],
       [21121, 18173],
       [20564, 18211],
       [20725, 18272],
       [21117, 18374],
       [20964, 18374],
       [20849, 18575],
       [21687, 19070],
       [19946, 19164],
       [23161, 19352],
       [21745, 19476],
       [23248, 19481],
       [22642, 19486],
       [22807, 19860],
       [25029, 19984],
       [22057, 20043],
       [23070, 20109],
       [24153, 20140],
       [23331, 20242],
       [24197, 20330],
       [24042, 20329],
       [24277, 20373],
       [44423, 23474],
       [31032, 20859],
       [28726, 20853],
       [31039, 20987],
       [28904, 21083],
       [31416, 21491],
       [27949, 21790],
       [31517, 21912],
       [32238, 21963],
       [30880, 22344]])

In [50]:
sec_man=all_secs[all_secs['Section']==section]
man_xy=np.array(sec_man[['x','y']])
#man_xy

array([[23958.919922, 23430.537109],
       [36357.390625, 19160.722656],
       [36916.816406, 18117.238281],
       [36956.585938, 18211.685547],
       [37113.640625, 18272.320312],
       [37210.105469, 17895.201172],
       [37291.703125, 18526.919922],
       [37362.546875, 18375.726562],
       [37480.191406, 18052.615234],
       [37514.988281, 18374.070312],
       [37524.929688, 18176.888672],
       [37537.828125, 17346.064453],
       [37558.914062, 21799.615234],
       [37590.851562, 17641.007812],
       [37610.738281, 17528.333984],
       [37645.535156, 17505.134766],
       [37679.03125 , 17959.824219],
       [37681.988281, 17516.734375],
       [37691.929688, 17478.623047],
       [37715.128906, 17846.474609],
       [37723.410156, 17243.332031],
       [37754.894531, 17755.339844],
       [37788.035156, 17392.460938],
       [37851.      , 17288.070312],
       [37917.28125 , 17650.951172],
       [37952.074219, 17644.322266],
       [37975.273438, 17554.845703],
       [37981.902344, 17273.158203],
       [38061.792969, 18163.632812],
       [38089.964844, 18125.523438],
       [38094.882812, 19073.302734],
       [38127.714844, 17932.638672],
       [38142.628906, 17660.892578],
       [38142.628906, 17843.160156],
       [38146.21875 , 19473.253906],
       [38195.652344, 17717.230469],
       [38215.535156, 17970.748047],
       [38225.480469, 17732.142578],
       [38251.074219, 17429.435547],
       [38265.246094, 17954.179688],
       [38278.503906, 18048.626953],
       [38318.269531, 17655.921875],
       [38326.582031, 20848.910156],
       [38381.234375, 17490.222656],
       [38452.484375, 17476.966797],
       [38456.074219, 20044.912109],
       [38504.15625 , 21072.927734],
       [38536.992188, 17752.027344],
       [38570.132812, 17644.322266],
       [38639.726562, 17730.486328],
       [38964.496094, 17251.617188],
       [39049.273438, 19489.822266],
       [39206.6875  , 19872.585938],
       [39473.460938, 20111.193359],
       [39548.027344, 19340.693359],
       [39652.417969, 19481.537109],
       [39726.917969, 20246.904297],
       [40441.078125, 20336.380859],
       [40505.90625 , 22356.091797],
       [40552.097656, 20125.943359],
       [40598.492188, 20324.78125 ],
       [40621.691406, 20855.017578],
       [40636.601562, 20987.576172],
       [40678.027344, 20369.519531],
       [41013.917969, 21487.765625],
       [41118.308594, 21910.296875],
       [41318.265625, 17925.84375 ],
       [41354.332031, 15213.067383],
       [41440.242188, 20003.326172],
       [41840.753906, 21973.263672]])